html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-color: #2196f3;
  --accent-color: #188ce8;
  --secondary-color: #000000;
  --background-color: #ffffff;
  --background-block: #2f303a;
  --background-section: #f5f4fa;
  --background-button: #f5f4fa;
  --white-color: #ffffff;
  --text-color: #757575;
  --text-contact: rgba(255, 255, 255, 0.6);
  --title-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
}

/* ---------HEADER---------- */

.header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.nav__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.nav__logo_dark {
  color: var(--secondary-color);
}

.nav {
  display: flex;
  align-items: center;
}

.nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--main-color);
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  position: absolute;
  display: block;
  bottom: -1px;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  border-radius: 2px;
}

.contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  fill: var(--text-color);
  margin-right: 10px;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--main-color);
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon,
.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: currentColor;
}

/* ---------FOOTER---------- */

.footer {
  display: flex;
  background-color: var(--background-block);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__block {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: baseline;
}

.footer__container {
  margin-right: 94px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.nav__logo_light {
  color: var(--white-color);
}

.address__map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  display: inline-block;
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-contact);
  display: inline-block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: var(--main-color);
}

.address__items:not(:last-child) {
  margin-bottom: 9px;
}

.subscribe {
  display: block;
  text-align: left;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: var(--white-color);
}

.social__link:hover,
.social__link:focus {
  color: var(--main-color);
  background: var(--accent-color);
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.send {
  margin-left: 93px;
  align-items: flex-end;
}

.send__form {
  display: flex;
  align-items: center;
}

.send__input {
  color: var(--white-color);
  width: 358px;
}

.send__form label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.send__form input {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.send__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background-color: var(--main-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send__button:hover,
.send__button:focus {
  background-color: var(--accent-color);
}

.send__icon {
  fill: var(--white-color);
}

/* -------MAIN STUDIO------- */

.section-function {
  padding-top: 94px;
  padding-bottom: 47px;
}

.section-work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.background-hero {
  background-color: rgba(196, 196, 196, 1);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title-main {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button-order {
  background-color: var(--main-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:focus,
.button-order:hover {
  background-color: var(--accent-color);
}

.function-container {
  display: flex;
  gap: 30px;
}

.function-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.function-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.function-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 50px;
}

.function-about {
  flex-basis: calc((100% - 90px) / 4);
}

.function-icon {
  display: flex;
  background: var(--background-section);
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  align-items: center;
  justify-content: center;
}

.team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 50px;
}

.work-container {
  display: flex;
  gap: 30px;
}

.label {
  position: relative;
}

.label-bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.label-text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.background-team {
  background-color: var(--background-section);
}

.background-cards {
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-container {
  display: flex;
  gap: 30px;
}

.team-card {
  text-align: center;
  padding: 30px 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 16px;
}

.worker-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;

  background-color: #ffffff;
  border-radius: 50%;

  width: 44px;
  height: 44px;

  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-color);
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.background-client {
  background-color: var(--background-color);
}

.client-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 50px;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-block:not(:first-child) {
  margin-left: 30px;
}

.client-link {
  display: flex;
  background-color: var(--background-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-yaco {
  width: 41px;
  height: 46.7px;
}

.icon-company {
  width: 40px;
  height: 52px;
}

.icon-round {
  width: 43px;
  height: 41px;
}

.icon-foster {
  width: 84px;
  height: 41px;
}

.icon-brand {
  width: 63px;
  height: 45px;
}

.icon-tag {
  width: 94px;
  height: 44px;
}

/* ------MAIN PORTFOLIO----- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__button {
  cursor: pointer;
  background-color: var(--background-button);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--main-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project {
  padding: 20px 24px;
  margin: 0;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-title:focus,
.portfolio-text:focus {
  color: var(--accent-color);
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  gap: 30px;
}

.portfolio-card {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-description {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay-description {
  transform: translateY(0);
}

/* --------MODAL--------- */

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0.2;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: block;
}

.form-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-color);
}

.form-item {
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.form-item:hover,
.form-item:focus {
  fill: var(--accent-color);
}

.form-item-agree {
  display: flex;
  position: relative;
}

.modal-label {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:hover + .modal-form-icon,
.modal-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  margin: 0;
  padding: auto;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 15px;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color);
}

.modal-comment::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  fill: var(--white-color);
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-agree span {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.form-checkbox:focus + .form-agree span {
  border-color: var(--accent-color);
}

.form-agree {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-left: 40px;
}

.form-contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 7px;
  color: var(--main-color);
}

.modal-form-button {
  width: 200px;
  height: 50px;
  background-color: var(--main-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--accent-color);
}
