.footer {
  display: flex;
  background-color: var(--background-block);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__block {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: baseline;
}

.footer__container {
  margin-right: 94px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address__map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  display: inline-block;
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-contact);
  display: inline-block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--main-color);
  }
}

.address__items:not(:last-child) {
  margin-bottom: 9px;
}
